@charset "utf-8";
/* CSS Document 首页*/
/***************公共样式*****************/
* {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: "微软雅黑"
}
.link1 {
	display: block;
	width: 80px;
	height: 30px;
	font-weight: bold;
	border-radius: 3px;	
}

.link1:link,.link1:visited {
	color: #FA5C53;
	text-decoration: none
}

.link1:hover {
	color: #FA5C53
}
.link2 {
	display: block;
	width: 40px;
	float: right;
	line-height: 30px;
	color: #333;
}

.link2:link,.link2 visited {
	color: #333;
	text-decoration: none
}

.link2:hover {
	color: #666
}

.link3:link,.link3:visited {
	color: #fff;
	text-decoration: none
}

.link2.he {
	color: #FA5C53;
	text-align: right;
	margin-left: 10px
}

.link2.he.ico {
	background: url(../images/ico_detail_item.png) no-repeat -2px -2285px
}

.link2.he:hover {
	color: #FA5C53
}
.clearh {
	clear: both
}
/***************END公共样式END*****************/

/*********************头部导航**********************/
.head {
	height: 80px;
	position: absolute;
	top: 0;
	z-index: 1200;
	width: 100%;
}

.nav {
	width: 1100px;
	margin: 0 auto
}

.navimg {
	float: left;
	margin-top: 5px;
    margin-left: 10px;
}

.nag {
	margin-left: 120px;
}

.nag li {
	float: left;
	margin-left: 5px;
	margin-top: 25px;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.nag li a{
	font-size:18px;
}

.nag li a:hover{
	border-bottom:2px solid #fa5c53;
}

.massage {
	float: right;
	font-size: 14px;
	margin-top: 35px;
	width: 450px;
	position: relative
}

#headerUsername {
	width: 80px;
}

/**************END头部导航END**************/

/***********************首页内容*************************/
.content {
	height: 725px;
}

.middle {
	width: 1100px;
	margin: 0 auto;
	position: relative;
	height: 731px;
}

.know {
	position: absolute;
	bottom: 130px;
	left: 50%;
	color: #ce4820;
	font-size: 18px;
	font-weight: 500;
	display: block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	padding-right: 24px;
	background: url(../images/know.png) right center no-repeat
}

.know:hover {
	font-weight: bold
}

#lne {
	position: absolute;
	top:0;
	right: 0px;
	width: 80px;
}

.logmine {
	min-height:100px;
	background:#3f4852;
	width:60px;
	padding:2px 10px;
	margin-top:15px;
	padding-left:20px;
}

.logmine li {
	height:30px;
	line-height:30px;
}

.logmine .link1 {
	font-weight: normal
}

.logmine .link1:link,.logmine .link1:visited {
	color: #fff;
	text-decoration: none
}

.logmine .link1:hover {
	color: #ce4949
}


/********************banner悬浮文字*********************/
.indetit {
	width: 590px;
	min-height: 200px;
	float: left;
	padding-top: 250px;
	color: #fff;
}

.indetit h2 {
	font-size: 44px
}

.indetit h3 {
	text-align: right;
	font-size: 24px;
	margin-top: 20px;
	padding-right: 10px;
	font-weight: normal
}

.btnp {
	margin-top: 100px;
	font-size: 20px;
}

.btnp a {
	padding: 3px 15px;
	border: 2px solid #fff;
	border-radius: 5px;
	margin-right: 30px;
}

.btnp a:link,.btnp a:visited {
	color: #fff;
	text-decoration: none
}

.btnp a:hover {
	background: #fa7871;
	border-color: #fa7871
}

.btnp a.pink {
	background: #fa7871;
	border-color: #fa7871
}

/*******************登陆框**********************/
.loginbox {
	width: 307px;
	min-height: 350px;
	background: url(../images/bg3.png);
	border-radius: 15px;
	float: right;
	margin-top: 170px;
	padding: 20px;
	color: #fff;
}

.loginbox h2 {
	border-bottom: 2px solid #c0dee1;
	padding-bottom: 5px;
}



.loginform input[type="text"],[type="password"] {
	margin-left:10px;
	width: 240px;
	height: 35px;
	margin-top:10px;
	border-radius: 3px;
	border: none
}

.loginbtn {
	display: block;
	width: 300px;
	height: 40px;
	border-radius: 3px;
	border: none;
	background: #3eb0e0;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
}

.loginbtn:link,.loginbtn:visited {
	color: #fff;
	text-decoration: none
}

.loginbtn:hover {
	background: #7BD1EA
}

.login3f {
	display: block;
	text-align: right;
	height: 20px;
	margin-top:10px;
}

.login3f a:hover {
	font-size: none
}

.loginform label {
	font-size: 14px;
}

.rembchec {
	text-align: right;
}

.loginform table tr td{
	text-align:right;
} 
.loginform table tr{
	height:30px;
} 
.loginform .l_error{
	clear:both;
	font-size:12px;
	float:left;
	margin-left:10px;
	color:#ccc;
	margin-top:5px;
}
.loginform [type="text"].yzm{
	width:130px;
	float:left;
}
.loginform .img_yzm{
	width:100px;
	height:35px;
	margin-top:10px;
	float:left;
	margin-left:10px;
}
/****************END登陆框END*******************/

/*图标*/
.icocont {
	background: #fff;
}

.icoul,.tdcont {
	min-height: 180px;
	width: 1100px;
	margin: 0 auto;
	padding-top: 20px;
}

.icoul li {
	width: 366.6px;
	float: left;
	text-align: center;
}

.tdcont {
	width: 1000px;
	margin: 0 auto;
	padding-top: 30px
}

.tdcont.np,.td2.np {
	padding-top: 0;
	height: 398px;
}

.td1 {
	background: #ededec;
	padding-bottom: 30px;
	height: 398px;
}

.td2 {
	background: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 368px;
}

.tdimg {
	float: left;
	margin-top: 20px
}

.tdimg1 {
	float: right;
	margin-right: 20px;
}

.tdimg1.ni {
	margin-top: 50px;
}

.tdtext {
	float: right;
	margin-top: 100px;
	min-width: 200px;
	margin-right: 20px;
}

.tdtext1 {
	float: left;
	margin-top: 80px;
	width: 420px;
}

.tdtext h3,.tdtext1 h3 {
	color: #ce4949;
	font-size: 40px;
	margin-bottom: 26px;
	font-weight: normal
}

.tdtext1 h3.co1 {
	color: #f88383
}

.tdtext h3.co2 {
	color: #5aaae4
}

.tdtext1 h3.co3 {
	color: #f39313
}

.tdtext p,.tdtext1 p {
	color: #666;
	font-size: 20px;
}

.tdtext p.tex1 {
	width: 300px;
}

.tdtext1 p.tex1 {
	width: 500px;
}

.line {
	height: 10px;
	border-bottom: 1px dashed #ec6941;
	margin-bottom: 20px;
}

.btninto {
	padding: 3px 20px;
	border: 2px solid #fa7871;
	font-size: 18px;
	border-radius: 3px;
	background: url(../images/btnbg.png) no-repeat 0 0
}

.btninto:link,.btninto:visited {
	text-decoration: none;
	color: #fa7871
}

.btninto:hover,.btninto:focus,.btninto:active {
	background-position: -150px 0;
	color: #FDD
}




/*************课程*************/
.pr {
    position: relative;
}
.i-cc-more {
    position: absolute;
    right: 5px;
    top: 15px;
}
.c-999 {
	text-decoration:none;
    color: #999;
}
.c-infor-tabTitle.c-tab-title {
    margin-bottom: 20px;
    text-align: left;
}
.c-tab-title {
    border-bottom: 1px solid #e2e2e2;
    height: 44px;
    margin-bottom: 50px;
    text-align: center;
}
.c-infor-tabTitle.c-tab-title a, .c-infor-tabTitle.c-tab-title span {
	text-decoration:none;
    font-size: 20px;
    margin-left: 0;
    padding: 0 8px;
}
 .c-tab-title a:hover, .c-tab-title .current1{
	cursor: pointer;
    color: #004E9C;
    border-color: #004E9C;
}
.c-tab-title a, .c-tab-title span {
    border-bottom: 1px solid transparent;
    display: inline-block;
    line-height: 44px;
    margin: 0 20px;
    padding: 0 15px;
    font-size: 18px;
    color: #666;
    transition: .3s;
    -webkit-transition: .3s;
}



.crdiv {
	background: #F5F5F5
}

.course {
	width: 1100px;
	margin: 0 auto;
	min-height: 100px;
	padding-top: 50px
}

.line.no {
	border: none
}

.tit {
	display: block;
	text-align: center;
	font-weight: normal;
	font-size: 30px;
	color: #ec6941;
}

.courseul {
	width: 1200px;
	min-height: 100px;
	margin: 0 0 0 -76px;
}

.courseul li {
	width: 250px;
	float: left;
	margin-bottom: 20px;
	background: #fff;
    box-shadow: none;
    border: none;
    margin: 0 0 40px 40px;
}

.courselist {
	width: 250px;
	height: 289px;
	background: #fff;
	padding-bottom: 10px;
	box-shadow: 0 1px 2px #c5c5c5;
	border-radius: 3px
}

.courTit {
	text-align: center;
	margin-top: 10px;
}

.gray {
	font-size: 14px;
	color: #999;
	margin-top: 10px;
	margin-bottom: 10px;
}

.gray span {
	font-style: normal;
	float: left;
	margin-left: 5px;
}

.gray span.sp1 {
	float: right;
	margin-left: 0;
	margin-right: 5px;
}

.courselist {
	cursor: pointer;
	overflow: hidden
}

.big {
	width: 320px;
}

.courselist img {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	width: 263px;
	height: 148px
}

.courselist img:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.morecourse {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.btnlink {
	padding: 3px 20px;
	border-radius: 10px;
	border: 1px solid #8F8F8F;
	background: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
}

.btnlink:link,.btnlink:visited {
	color: #8F8F8F;
	text-decoration: none
}

.btnlink:hover {
	color: #666;
	border-color: #666;
}

.crdiv {
	padding-bottom: 30px;
}

.btnlink.bl1 {
	background: #EC6841;
	border: none;
	color: #fff;
	padding: 8px 50px;
	border-radius: 3px;
	font-size: 16px;
	margin-top: 10px;
}

.btnlink.bl1:link,.btnlink.bl1:visited {
	color: #fff;
	text-decoration: none
}

.btnlink.bl1:hover {
	background: #FF8E8E;
	border-color: #666;
}
/***************END课程END****************/

/***************推荐套餐**************/


.pt30 {
    padding-top: 30px;
}
.pb10 {
    padding-bottom: 10px;
}
.b-f8 {
    background-color: #F5F8FA;
}
.iContainer, .w1000 {
    margin: 0 auto;
    width: 1120px;
}
.hLh30 {
    height: 30px;
    line-height: 30px;
}
.tac {
    text-align: center;
}
h6 {
    font-size: 12px;
    line-height: 16px;
}
h6 {
    display: block;
    font-size: 0.67em;
    -webkit-margin-before: 2.33em;
    -webkit-margin-after: 2.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.fsize24 {
    font-size: 24px;
}
.c-333 {
    color: #333;
}
.pt30 {
    padding-top: 30px;
}
.i-tLive-flexslider, .i-tLive-ul {
    height: 420px;
    position: relative;
}
.i-tLive-ul {
    overflow: hidden;
}
.i-tLive-flexslider, .i-tLive-ul {
    height: 420px;
    position: relative;
}
.i-tLive-ul li {
    float: left;
    width: 530px;
    height: 420px;
    margin: 0 60px 0 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.i-tLive-ul li .tc-course-img-wrap {
    margin: 0;
}
.tc-course-img-wrap {
    margin: 10px 20px 10px 10px;
    position: relative;
}
a {
    text-decoration: none;
}
.cc-mask{
    -webkit-transition: .3s;
    transition: .3s;
}
.cc-mask {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    color: #004E9C;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: .3s;
    -webkit-transition: .3s;
}
.cc-mask .c-btn-1 {
    border: 1px solid #fff;
    border-radius: 16px;
    color: #fff;
    font-size: 18px;
    width: 120px;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    text-align: center;
    left: 50%;
    margin-left: -72px;
    margin-top: -16px;
    position: absolute;
    top: 100%;
    transition: .3s;
    -webkit-transition: .3s;
}
.mt20 {
    margin-top: 20px;
}
.txtOf {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hLh30 {
    height: 30px;
    line-height: 30px;
}
.mr10 {
    margin-right: 10px;
}
.unFw {
    font-weight: normal;
}
h3 {
    font-size: 18px;
    line-height: 22px;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.mr5 {
    margin-right: 5px;
}
.fsize20 {
    font-size: 20px;
}
.mt15 {
    margin-top: 15px;
}
.unFw {
    font-weight: normal;
}
h5 {
    font-size: 14px;
    line-height: 18px;
}
h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.c-ctitle .p1 {
    font-size: 12px;
    line-height: 24px;
    height: 50px;
    overflow: hidden;
    color: #999;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.mt15 {
    margin-top: 15px;
}
.pr {
    position: relative;
}
.fsize16 {
    font-size: 15px;
}
.vam {
    vertical-align: middle;
}
.f-fM, tt, select, input, samp {
    font-family: "Hiragino Sans GB","Microsoft YaHei";
}
.c-666 {
    color: #666;
}
.vam {
    vertical-align: middle;
}
.c-red {
    color: #C80500;
}
.fsize24 {
    font-size: 24px;
}
.ml30 {
    margin-left: 30px;
}
.fsize16 {
    font-size: 15px;
}
.c-ccc {
    color: #ccc;
}
.clear {
    clear: both;
    font-size: 0;
    content: " ";
    line-height: 1px;
    height: 1px;
    _height: 1%;
    margin-top: -1px;
}
.i-tLive-ul li:hover .cc-mask {
    opacity: 1;
    filter: alpha(opacity=100);
}
.i-tLive-ul li:hover .cc-mask .c-btn-1 {
    top: 50%;
}
.i-tLive-flexslider .i-tlive-fs-thr-contrl.i-t-fs-thr-contrl-prev {
    left: -65px;
}
.i-tlive-fs-thr-contrl.i-t-fs-thr-contrl-prev{
    opacity: 0.25;
    filter: alpha(opacity=25);
}
.i-t-flex-direction-nav a, .i-lv-c-contrl, .i-t-fs-thr-contrl, .i-tlive-fs-thr-contrl {
    width: 50px;
    height: 74px;
    line-height: 99em;
    overflow: hidden;
    margin: -65px 0 0;
    display: block;
    background: url(../images/ad_ctr.png) no-repeat;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.i-tLive-flexslider .i-tlive-fs-thr-contrl.i-t-fs-thr-contrl-next {
    right: -65px;
}
.i-t-flex-direction-nav .i-t-flex-next, .i-lv-c-contrl.i-lv-c-next, .i-t-fs-thr-contrl.i-t-fs-thr-contrl-next, .i-tlive-fs-thr-contrl.i-t-fs-thr-contrl-next {
    background-position: 0 -74px;
    right: 0;
}

/***************END推荐套餐END****************/

/***************资讯公告**************/

.pb50 {
    padding-bottom: 50px;
}
.pt30 {
    padding-top: 30px;
}
.b-fff {
    background-color: #ffffff;
}
.iContainer, .w1000 {
    margin: 0 auto;
    width: 1120px;
}
.pr {
    position: relative;
}
.i-cc-more {
    position: absolute;
    right: 5px;
    top: 15px;
}
.c-999 {
    color: #999;
}
a {
    text-decoration: none;
}
.c-infor-tabTitle.c-tab-title {
    margin-bottom: 20px;
    text-align: left;
}
.c-tab-title {
    border-bottom: 1px solid #e2e2e2;
    height: 44px;
    margin-bottom: 50px;
    text-align: center;
}
.c-infor-tabTitle.c-tab-title a, .c-infor-tabTitle.c-tab-title span {
    font-size: 20px;
    padding: 0 8px;
}
.c-infor-tabTitle.c-tab-title a, .c-infor-tabTitle.c-tab-title span {
    font-size: 18px;
    margin-left: 0;
    padding: 0 12px;
}
.c-tab-title span {
    color: #333;
    font-size: 20px;
}
.c-tab-title a, .c-tab-title span {
    border-bottom: 1px solid transparent;
    display: inline-block;
    line-height: 44px;
    margin: 0 20px;
    padding: 0 15px;
    font-size: 18px;
    color: #666;
    transition: .3s;
    -webkit-transition: .3s;
}
.pt10 {
    padding-top: 10px;
}
.hot-news-l {
    float: left;
    width: 620px;
}
.h-n-pic-bx img {
    display: block;
    float: left;
    height: 150px;
    margin-right: 20px;
    width: 261px;
}
.hot-news-l .s-c-desc {
    height: 50px;
    line-height: 220%;
}
.s-c-desc {
    height: 36px;
    line-height: 21px;
    overflow: hidden;
}
.pb10 {
    padding-bottom: 10px;
}
.pt10 {
    padding-top: 10px;
}
.fsize18 {
    font-size: 18px;
}
.vam {
    vertical-align: middle;
}
.c-4e {
    color: #4E4E4E;
}
.mt10 {
    margin-top: 10px;
}
.a-l-desc-txt {
    height: 40px;
    line-height: 20px;
	color: #888;
	font-size: 14px;
    overflow: hidden;
    margin-top: 5px;
    font-weight: normal;
}
.mt15 {
    margin-top: 15px;
}
.of {
    overflow: hidden;
}
.disIb {
    display: inline-block;
}
.icon14, .icon-2-14 {
    display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: middle;
}
.l-time {
    background-position: -318px -441px;
}
small {
    font-size: smaller;
}
.ml50 {
    margin-left: 50px;
}
.a-read.icon14 {
    background-position: -357px -304px;
    vertical-align: top;
}
.i-news-r {
    float: left;
    margin-left: 60px;
    width: 440px;
}
.i-news-r .i-r-news-list {
    padding: 0;
}
.i-r-news-list-thr {
    height: auto;
}
.i-r-news-list {
    height: 140px;
}
.i-r-news-list, .i-box-pd {
    padding: 10px 15px 15px;
    overflow: hidden;
}
.i-news-r .i-r-news-list li {
    padding-right: 150px;
    position: relative;
}
.i-r-news-list li, .i-r-news-list p {
    padding-left: 12px;
    margin-top: 10px;
}
.i-r-news-list li, .i-r-news-list p {
    background-position: -509px 9px;
}
.nnl-time {
    position: absolute;
    right: 0;
    top: 0;
}
.c-ccc {
    color: #ccc;
}
.i-r-news-list li a, .i-r-news-list p a {
    color: #666;
	display: block;
	font-size: 12px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/***************END资讯公告END****************/

/***************右侧浮动联系方式**************/
.rmbar {
	position: fixed;
	top: 50%;
	right: -105px;
	z-index: 1000;
	min-height: 100px;
	background: #d9534f;
	border-radius: 5px;
}

.barico {
	position: relative;
	display: block;
	width: 120px;
	padding-left: 25px;
	min-height: 35px;
	background: url(../images/pictonic-flat_icons.png) no-repeat;
	cursor: pointer;
	padding-top: 5px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.barico:hover {
	background-color: #FA5C53
}

.barico.qq {
	background-position: 0 3px;
}

.barico.wb {
	background-position: 0 -65px;
}

.barico.wx {
	background-position: 0 -136px;
}

.barico.em {
	background-position: 0 -204px;
}

.barico.top {
	background-position: 0 -284px;
}

.hidebar {
	height: 40px;
	width: 120px;
	position: absolute;
	left: 35px;
	top: 0;
	z-index: 5;
	background: #666;
	border-radius: 3px 0 0 3px;
	display: none
}
.showqq {
	display: none;
	position: absolute;
	left: -95px;
	top: 0;
	color: #000;
	font-size: 12px;
	z-index: 1010;
	width: 90px;
	padding: 1px;
	white-space: normal;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.showem {
	display: none;
	position: absolute;
	left: -95px;
	top: 0;
	z-index: 1010;
	width: 90px;
	padding: 1px;
	white-space: normal;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.showwb {
	display: none;
	position: absolute;
	left: -95px;
	top: 0;
	z-index: 1010;
	width: 90px;
	padding: 1px;
	white-space: normal;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

/***************END右侧浮动联系方式END**************/

/********************底部********************/
.foot {
	background: #333;
	padding-bottom: 10px;
	padding-top: 20px;
}

.foot p {
	color: #fff;
	text-align: center;
	font-size: 14px;
}

.door {
	height: 60px;
	background: url(../images/bg.png);
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	box-shadow: -2px 0 2px #9A7B2C;
	z-index: 3
}

.dform {
	width: 800px;
	margin: 0 auto;
}

.dform input {
	width: 270px;
	height: 35px;
	line-height: 35px;
	border-radius: 3px;
	border: none;
	background: #FF8E8E;
	color: #fff;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.foot {
	font-size: 14px;
}

.fwxwb img {
	margin: 10px;
}

.fcontainer {
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
}

.fwxwb {
	color: #fff;
	text-align: center;
	width: 240px;
	margin: 0 auto;
}

.foot a:link,.foot a:visited {
	color: #fff;
	text-decoration: none;
}

.fwxwb_1 {
	float: left;
}

.fwxwb_1 span {
	display: block;
}

.fmenu {
	clear: both;
}

.fmenu a {
	margin-left: 10px;
	margin-right: 10px;
}

.foot a:hover {
	color: #fa7871;
	text-decoration: none;
}

.foot a,.copyright {
	color: #fff;
	text-decoration: none;
}
/********************END底部END********************/

/************首页滚动************/
.fullwidthbanner-container {
	margin-top:80px;
}

.btn.btn-large.btn-primary {
	padding:5px 20px;
	border-radius:5px;
	font-size:18px
}

.caption h2 {
	color:#fff;
	font-size:48px;
}

.caption.sfb i { 
	display:inline-block;
	width:320px;
}
/************END首页滚动END************/

/*****************课程选项卡*****************/
#myTab3 {
	width: 630px;
	margin: 0 auto;
}

#myTab3 li {
	width: 150px;
	float: left;
	height: 40px;
	line-height: 40px;
	color: #666;
	background: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 18px;
	font-weight: normal;
	margin-right: 5px;
	margin-bottom:10px;
}


/*****************END课程选项卡END*****************/

/*****************师资团队*****************/
.i-teaher-in-wrap .t-list {padding: 0;}
.i-teaher-in-wrap .t-list ol {margin-left: -36px;}
.i-teaher-in-wrap .t-list li {height: 190px;margin: 0 0 30px 36px;}
.i-teaher-in-wrap .t-list li span img {border: none;width: 252px;height: 190px;}
.i-teaher-in-wrap .t-list li .t-infor-wrap,.i-t-flexslider .i-t-slides li .t-infor-wrap {background-color:#666666;top: 0;right: 0;bottom: 0;left: 0;width: auto;height: auto;opacity: 0;filter: alpha(opacity=0);-webkit-transform: scale(0.6);transform: scale(0.6);}
.i-teaher-in-wrap .t-list li:hover .t-infor-wrap {opacity: 0.7;filter: alpha(opacity=100);-webkit-transform: scale(1);transform: scale(1);}
.i-teaher-in-wrap .t-list li .t-infor-wrap .it-in-name,.i-t-infor-bx span {border: 1px solid #fff;color: #fff;font-size: 16px;display: inline-block;padding: 0 30px;}
.i-teaher-in-wrap .t-list li .t-infor-wrap a:hover,.i-teaher-in-wrap .t-list li .t-infor-wrap a:hover * {text-decoration: none;}
.i-teaher-in-wrap .t-list li .t-infor-wrap{
	transition: .3s;
}
.t-list li {
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
    overflow: hidden;
    height: 122px;
}
.t-infor-wrap {
    cursor: pointer;
    position: absolute;
    top: -122px;
    left: 0;
    height: 122px;
    width: 162px;
    -webkit-transition: .1s;
    transition: .1s;
}
 .t-infor-wrap {
    background: url(../images/page/yellow-bg.png) repeat 0 0;
}
.of {
    overflow: hidden;
}
.t-list li {
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
    overflow: hidden;
    height: 122px;
}
a {
    text-decoration: none;
}
.pl10 {
    padding-left: 10px;
}
.pr10 {
    padding-right: 10px;
}
.mt50 {
    margin-top: 50px;
}
.tac {
    text-align: center;
}
.hLh30 {
    height: 30px;
    line-height: 30px;
}
.unFw {
    font-weight: normal;
}
h6 {
    font-size: 12px;
    line-height: 16px;
}
.s-c-desc {
    height: 36px;
    line-height: 21px;
    overflow: hidden;
}
.pt10 {
    padding-top: 10px;
}
.mt10 {
    margin-top: 10px;
}
.c-fff {
    color: #fff;
}
.pb30 {
    padding-bottom: 30px;
}
.pt20 {
    padding-top: 20px;
}
.b-f8 {
    background-color: #F5F8FA;
}
.iContainer, .w1000 {
    margin: 0 auto;
    width: 1120px;
}
	/*****************END师资团队END*****************/
